:root:not([data-theme]) {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;
}

/* * {
  outline: lime solid 1px;
} */

li {
  text-align: center;
}

li::marker {
  content: none;
}
